:root {
    --element-color: #CDA274;
    --maintext-color: #292F36;
    --secondtext-color: #4D5053;
    --textandbord-color: #FFFFFF;
    --mainelement-color: #F4F0EC;
    --telefon-color: #F4F0EC;
    --border-color: #E7E7E7;
    --lastline-color: #E5E5E5;
}

body {
    font-family: "Jost";
}

.container {
    width: 1220px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

.nav-list {
    color: var(--maintext-color);
font-size: 20px;
font-weight: 400;
line-height: 1.5; /* 150% */
letter-spacing: 0.4px;
}

.nav-list:hover,
.nav-list:focus{
      color: var(--element-color);
}

.nav-list-visited:visited {
    color: var(--element-color);
}

.nav-list-visited {
font-size: 20px;
font-weight: 400;
line-height: 1.5; /* 150% */
letter-spacing: 0.4px;
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-list{
    display: flex;
    gap: 50px;
    margin-left: auto;
}


header {
    padding: 30px 0;
}

.main-hiro {
    background-image: url(../img/hiro-backgraund.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 188px;
    padding-bottom: 260px;
    border-radius: 0px 0px 0px 290px;
    width: 100%;
}

.title-hiro {
    color: var(--maintext-color);
font-family: "DM Serif Display";
font-size: 80px;
font-weight: 400;
line-height: 1.2; /* 120% */
letter-spacing: 0.22px;
width: 595px;
margin-bottom: 19px;
}

.hiro-text {
    color: var(--secondtext-color);
font-size: 22px;
font-weight: 400;
line-height: 1.5; /* 150% */
letter-spacing: 0.22px;
width: 577px;
margin-bottom: 35px;
}

.main-btn {
    color: var(--textandbord-color);
font-size: 18px;
font-weight: 400;
line-height: 1.5; /* 150% */
letter-spacing: 0.72px;
background: var(--maintext-color);
border: 2px var(--maintext-color);
border-radius: 18px;
align-items: center;
padding-top: 22px;
padding-bottom: 22px;
padding-left: 34px;
padding-right: 23px;
display: flex;
gap: 44px;
}

/* sect */


.description-service {
    padding-top: 175px;
    padding-bottom: 170px;
}

.items-section{
    display: inline-flex;
}

.d-service-item {
    display: flex;
    flex-direction: column;
    padding: 75px 42px 70px 42px;
}

.view {
    display: flex;
    justify-content: center;
    gap: 6px;
}

.space {
    margin: 17px 0 68px 0;
}

.d-service-name {
    color: var(--maintext-color);
text-align: center;
font-family: "DM Serif Display";
font-size: 25px;
font-weight: 400;
line-height: 1.56; /* 156% */
letter-spacing: 0.22px;
}

.d-service-tag {
    color: var(--secondtext-color);
text-align: center;
font-size: 22px;
font-weight: 400;
line-height: 1.5; /* 150% */
letter-spacing: 0.22px;
width: 317px;
}

.stik-tag {
    color: var(--secondtext-color);
text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 1.5; /* 150% */
letter-spacing: 0.36px;
}

.width {
    margin: 17px 0 35px 0;
    width: 296px;
}


/* sect */


.call-service {
    padding-bottom: 139px;
}

.box {
    display: flex;
    flex-direction: column;
    padding: 13.5px 61px 10px 0;
}

.call {
    display: flex;
    gap: 16px;
}

.phone {
    display: flex;
    gap: 20px;
    margin-bottom: 50px;
    align-items: center;
}

.group {
    display: flex;
    flex-direction: column;
}

.design-title {
    color: var(--maintext-color);
font-family: "DM Serif Display";
font-size: 50px;
font-weight: 400;
line-height: 1.3; /* 130% */
letter-spacing: 0.22px;
width: 450px;
margin-bottom: 42px;
}

.design-tag {
    color: var(--secondtext-color);
font-size: 22px;
font-weight: 400;
line-height: 1.5; /* 150% */
letter-spacing: 0.22px;
width: 515px;
margin-bottom: 40px;
}

.telefon-nummer {
    color: var(--secondtext-color);
font-size: 24px;
font-weight: 400;
line-height: 1.5; /* 150% */
letter-spacing: 0.22px;
width: 100px;
}

.callus {
    color: var(--secondtext-color);
font-size: 22px;
font-weight: 400;
line-height: 1.5; /* 150% */
letter-spacing: 0.22px;
width: 154px;
}

.call-button {
    color: var(--textandbord-color);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.72px;
    background: var(--maintext-color);
    border: 2px var(--maintext-color);
    border-radius: 18px;
    align-items: center;
    padding-top: 21px;
    padding-bottom: 23px;
    padding-left: 34px;
    padding-right: 27px;
    display: flex;
    gap: 43px;
    flex-shrink: 0;
    width: 280px;
}

.foto-disgn {
    border-radius: 0px 326px 0px 123px;
    width: 592px;
    height: 635px;
}


/* sect */

.reviews-people {
    padding-bottom: 140px;
}

.reviews {
    border-radius: 70px;
    background: var(--mainelement-color);
    padding: 103px 35px 121px 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.opinion {
    color: var(--maintext-color);
text-align: center;
font-family: "DM Serif Display";
font-size: 45px;
font-weight: 400;
line-height: 1.3; /* 130% */
letter-spacing: 0.22px;
width: 479px;
display: flex;
margin-bottom: 47px;
}

.list-people {
    display: flex;
    gap: 18px;
    justify-content: center;
    align-items: center;
}

.foto-people {
    width: 77px;
height: 77px;
}

.sect-pip {
    display: flex;
    flex-direction: column;
}

.name {
    display: flex;
    gap: 20px;
    margin-bottom: 25px;
    align-items: center;
}

.people-item {
    background: var(--textandbord-color);
    border-radius: 30px;
    display: flex;
    padding-top: 50px;
    padding-bottom: 45px;
    padding-left: 35px;
    padding-right: 65px;
    flex-direction: column;
}

.people-name {
    color: var(--maintext-color);
font-family: "DM Serif Display";
font-size: 25px;
font-weight: 400;
line-height: 1.5; /* 150% */
letter-spacing: 0.22px;
}

.country {
    color: var(--secondtext-color);
font-size: 18px;
font-weight: 400;
line-height: 1.5; /* 150% */
letter-spacing: 0.22px;
width: 140px;
}

.people-tag {
    color: var(--secondtext-color);
font-size: 20px;
font-weight: 400;
line-height: 1.5; /* 150% */
letter-spacing: 0.22px;
}


/* sect */

.brand-sect {
    padding-bottom: 113px;
}

.brand-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* sect */

.design-project-sec {
    padding-bottom: 140px;
}

.recent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.design-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    row-gap: 60px;
}

.design-item {
    flex-basis: calc((100% - 20px) / 2);
}

.col-style {
    display: flex;
    flex-direction: column;
}

.display-style {
    display: flex;
padding-top: 25px;
align-items: flex-start;
flex-shrink: 0;
justify-content: space-between;
}

.foto-room {
    width: 100%;
height: 661px;
flex-shrink: 0;
border-radius: 0px 80px 0px 0px;
}

.project-title {
    color: var(--maintext-color);
text-align: center;
font-family: "DM Serif Display";
font-size: 47px;
font-weight: 400;
line-height: 1.32; /* 132.766% */
letter-spacing: 0.22px;
margin-bottom: 20px;
}

.description-project {
    color: var(--secondtext-color);
text-align: center;
font-size: 22px;
font-weight: 400;
line-height: 1.5; /* 150% */
letter-spacing: 0.22px;
width: 786px;
margin-bottom: 71px;
}

.dis-foto {
    color: var(--maintext-color);
font-family: "DM Serif Display";
font-size: 24px;
font-weight: 400;
line-height: 1.56; /* 156.25% */
letter-spacing: 0.22px;
}

.style-room {
    color: var(--secondtext-color);
font-size: 22px;
font-weight: 400;
line-height: 1.5; /* 150% */
letter-spacing: 0.22px;
}

.galochka {
    background: var(--mainelement-color);
    padding: 27px 30px 27px 30px;
    border-radius: 100px;
}


/* sect */

.success {
    background: var(--telefon-color);
    padding: 140px 0;
}

.line {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.group-succes {
    border-right: 1px solid var(--element-color);
    flex-grow: 1;
}

.group-succes:nth-child(4){
    border: none;
}

.number {
    color: var(--element-color);
text-align: center;
font-family: "DM Serif Display";
font-size: 85px;
font-weight: 400;
line-height: 1.5; /* 150% */
letter-spacing: 1.7px;
}

.achievement {
    color: var(--secondtext-color);
text-align: center;
font-size: 22px;
font-weight: 400;
line-height: 1.5; /* 150% */
letter-spacing: 0.22px;
}


/* sect */

.blog-sect {
    padding-top: 143px;
    padding-bottom: 141px;
}

.blogcon {
    display: flex;
    flex-direction: column;
    align-items: center;  
}

.blogs-list {
    display: flex; 
    flex-wrap: wrap;
    gap: 20px;
}

.blogs-item {
    border-radius: 62px;
outline: 1px solid var(--border-color);
padding: 21px 21px 41px 21px;
flex-basis: calc((100% - 40px) / 3);
width: 387px;
height: 515px;
}

.fotos-room {
    width: 100%;
height: 296px;
}

.tema-blog {
    color: var(--maintext-color);
font-family: "DM Serif Display";
font-size: 25px;
font-weight: 400;
line-height: 1.4; /* 140% */
letter-spacing: 0.5px;
width: 338px;
margin-bottom: 20px ;
margin-top: 15px;
}

.tema-blogtwo {
    color: var(--maintext-color);
    font-family: "DM Serif Display";
    font-size: 25px;
    font-weight: 400;
    line-height: 1.4; /* 140% */
    letter-spacing: 0.5px;
    width: 296px;
    margin-bottom: 20px ;
    margin-top: 15px;   
}

.recent-blogs {
    color: var(--maintext-color);
text-align: center;
font-family: "DM Serif Display";
font-size: 48px;
font-weight: 400;
line-height: 1.3; /* 130% */
letter-spacing: 0.22px;
margin-bottom: 21px;
}

.updates {
    color: var(--secondtext-color);
text-align: center;
font-size: 22px;
font-weight: 400;
line-height: 1.5; /* 150% */
letter-spacing: 0.22px;
width: 589px;
margin-bottom: 70px;
}

.card-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.date {
    color: var(--secondtext-color);
font-size: 16px;
font-weight: 400;
line-height: 1.5; /* 150% */
letter-spacing: 0.22px;
}

.right-gal {
    border-radius: 100px;
background: var(--telefon-color);
padding: 18px 21px 18px 21px;
}



/* sect */

.bite-sect {
padding-bottom: 129px;
}


.box-black {
    background: var(--maintext-color);
    padding-top: 100px;
    padding-bottom: 95px;
    border-radius: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wanna {
    color: var(--textandbord-color);
text-align: center;
font-family: "DM Serif Display";
font-size: 50px;
font-weight: 400;
line-height: 1.5; /* 150% */
letter-spacing: 0.22px;
width: 534px;
margin-bottom: 9px;
}

.consultation {
    color: var(--textandbord-color);
text-align: center;
font-size: 22px;
font-weight: 400;
line-height: 1.5; /* 150% */
letter-spacing: 0.22px;
margin-bottom: 31px;
}

.btn-last {
    color: var(--textandbord-color);
font-size: 18px;
font-weight: 400;
line-height: 1.5; /* 150% */
letter-spacing: 0.72px;
background: var(--element-color);
border: 1px var(--maintext-color);
border-radius: 18px;
align-items: center;
padding-top: 21px;
padding-bottom: 21px;
padding-left: 34px;
padding-right: 23px;
display: flex;
gap: 44px;
box-shadow: drop-shadow(1px 0px 18px rgba(0, 0, 0, 0.20));;
}


/* footer */

.contacts {
    padding-bottom: 80px;
}

.pages-footer {
    display: flex;
    height: 454px;
    justify-content: space-between;
}

.logo-foot {
    width: 177px;
height: 50px;
}

.list-social {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-top: 30px;
}

.contacts-list {
    display: flex;
    flex-direction: column;
    margin-top: 22px;
    row-gap: 30px;
}


.for-world {
    color: var(--secondtext-color);
font-size: 22px;
font-weight: 400;
line-height: 1.5; /* 150% */
letter-spacing: 0.22px;
width: 326px;
margin-top: 15px;
}

.contact-title {
    color: var(--maintext-color);
font-family: "DM Serif Display";
font-size: 25px;
font-weight: 400;
line-height: 1.5; /* 150% */
letter-spacing: 0.22px;
}

.item-text {
    color: var(--secondtext-color);
font-size: 22px;
font-weight: 400;
line-height: 1.5; /* 150% */
letter-spacing: 0.22px;
}

.contact-item {
    color: var(--secondtext-color);
    font-size: 22px;
    font-weight: 400;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.22px;
    width: 321px;
}


/* footer-end */

.end-footer {
    padding: 35px 0 35px 0;
    text-align: center;
    border-top: 2px solid var(--lastline-color);
}

.footer-span {
    color: var(--element-color);
}
